.logoimg{
    width: 190px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.dash{
    margin-left: 0px;
    margin-right: 17px;
    margin-top: 40px;
}
.mydash{
    width: 190px;
}

.sign{
    width: 130px;
    height: 47px;
    margin-left: 20px;
    margin-top: 360px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logs{
    width: 75px;
    height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 29px;
border: none;
background-color: #fafbfc;
padding-bottom: 30px;
color: #4B0ACE
}

.signimg{
    padding-left: 10px;
}