.App{
    display: flex;
    justify-content: center;
    background-color: black;
}

.left{
    width: 250px;
    height: 950px;
    background-color: white;
    border-right: 1px solid #F7F7F7;
}

.right{
    width: 1280px;
    height: 950px;
    background-color: #F2F2F2;
}
