.App{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.left{
    width: 220px;
    height: 950px;
    background-color: white;
    border-right: 1px solid #F7F7F7;
}

.right{
    width: 1000px;
    height: 950px;
    background-color: #F2F2F2;
}
